h2
{
    text-decoration: none;
    font-size: 35px;
}
h3
{
    font-size: 23px;
}

hr
{
    border-color: #95b2ca
}
.cute-rotate{
    animation: cute-rotate 2s ease-in-out alternate infinite;
    font-size: 2.75em;
}

.portfolio img{
    vertical-align: center;
}

.portfolio{
    border-style:solid;
    border-color: rgba(111, 24, 27, 0.0);
    margin-top: 3%;
    padding: 2% 5% 2% 5%;
    text-align: center;
}
.sherman{
    background-color: rgba(77, 165, 114, 0.801);
    text-align: center;
    padding: 2% 5% 2% 5%;
    border-radius: 10%;
}


img:hover{
    animation: hover 0.25s ease-out alternate forwards;
}

#bg-pic-headshot{
    background-image:url("../Media/Fabian/Dont\ look\ here/scribble-scrabble.png");
    background-color: #ddebff;
    background-blend-mode: darken; 
    background-size: cover;
}

#legal-mumbo-jumbo{
    background-color: #95b2ca;
    margin: -8px;
    margin-bottom: -50px;   
}

#legal-mumbo-jumbo-img{
    background-image:url("../Media/Fabian/idle-sherman.gif");
    background-color: #95b2ca;
    background-blend-mode: darken; 
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    left: 525px;    
}

@media only screen and (min-width: 768px) {

    #bg-pic-headshot img
    {
        padding-bottom: 3%;
        padding-top: 3%;/**So for some reason padding 3 0 3 0 doesnt work but this does?????? **/
    }
}

