body{
    background-color: #4e88aa;
}
.cute-rotate{
    animation: cute-rotate 2s ease-in-out alternate infinite;
    color: white;
}
.portfolio img{
    width: 40%;
    height: auto;
    vertical-align: center;
    border-style:solid;
    border-color: rgba(238,99,82, 1);
}
.portfolio{
    border-style:solid;
    border-color: rgba(111, 24, 27, 0.5);
    border-radius: 5%;
    margin-top: 3%;
    padding: 2% 5% 2% 5%;
    text-align: center;
    background-color: rgba(238,99,82, 0.5);
}
.sherman{
    background-color: rgba(77, 165, 114, 0.801);
    text-align: center;
    padding: 2% 5% 2% 5%;
    border-radius: 10%;
}

.center{
    text-align: center;
}
img:hover{
    animation: hover 0.25s ease-out alternate forwards;
}

#bg-pic-headshot{
  background-image:url("../Media/Fabian/Dont\ look\ here/scribble-scrabble.png");
  background-color: #4e88aa;
  background-blend-mode: darken; 
  background-size: cover;
}