.grid {
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

    .grid div {
        height: 33%;
        width: 33%;
        border: 1px solid;
    }

.play {
    font-size: 20px;
    margin-left: 50%;
    margin-right: 50%;
}

button {
    border: 1px solid;
    height: 50px;
    width: 100px;
}

.red {
    background-color: red;
    border-radius: 15px;
}

.blue {
    background-color: blue;
    border-radius: 15px;
}

.green {
    background-color: green;
    border-radius: 15px;
}

.yellow {
    background-color: yellow;
    border-radius: 15px;
}

.darkR {
    background-color: darkred;
}

.darkB {
    background-color: darkblue;
}

.darkG {
    background-color: darkgreen;
}

.darkY {
    background-color: darkgoldenrod;
}